* {
  margin: 0;
  padding: 0;
  font-family: 'DynaPuff', cursive;
  color: #ECECF1;
}

#header {
  width: 100vw;
  height: 60px;
  display: grid;
  background-color: #343541;
  border-bottom: 1px solid #ECECF1;
  font-size: 30px;
}

h1 {
  align-self: center;
  justify-self: center;
}

#content {
  background-color: #4C4D5A;
  width: 100vw;
  height: calc(100vh - 61px);
  display: grid;
}

#rolling-section {
  display: grid;
  
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  
  font-size: 27px;

  border: 2px solid #ECECF1;
  border-radius: 10px;
}

#dice-section {
  grid-template-columns: 1fr 1fr;
  
  font-size: 27px;
  margin: 0px 10px 0px 10px;
}

img {
  width: 90px;
  height: 90px;

  border: 2px solid #ECECF1;
  border-radius: 10px;
}

#dice-2 {
  
}

button {
  color: #383838;
  background-color: #ECECF1;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-size: 26px;
}

button:hover {
  color: #474747;
  background-color: #d4d4d4;
  cursor: pointer;
}